<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fourfoureight.lolhelper"
    android:versionCode="3"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    

    <application
        android:allowBackup="true"
        android:name="GlobalVariables"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.gms.version"
               android:value="@integer/google_play_services_version"/>
        <activity android:name="com.google.android.gms.ads.AdActivity"
             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <activity
            android:name="com.team4d.lolhelper.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.team4d.lolhelper.InGame"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_in_game" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.ChampionSelect"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_champion_select" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.PostGame"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_post_game" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.GeneralInfo"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_general_info" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.Options"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.buildguides.BuildGuides"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_build_guides" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.MatchInfo"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_match_info" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.TeamBuilder"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_team_builder" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.Counters"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_counters" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.Leaguecounters"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_counters" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.Build"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_build" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.buildguides.BuildAdditional"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_buildadditional" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.PlayerStats"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_player_stats" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.PlayerStatsAdvanced"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_player_stats_advanced" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.Champions"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_champions" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.ViewChampions"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_viewchampions" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.Items"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_items" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.buildguides.BuildScreen"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_build_screen" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.UltimateBravery"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_ultimate_bravery" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.ViewSummonerSpells"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_viewsummonerspells" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.JungleTimer"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_jungle_timer" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.ChampionInfo"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_champion_info" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.ItemInfo"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_item_info" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.SummonerSpellInfo"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_summoner_spell_info" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.SummonerSpells"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_summoner_spells" >
        </activity>
        <activity
            android:name="com.team4d.lolhelper.About"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
